
body{

    font-family: 'Luckiest Guy', system-ui;
    /* background-color: #71717A; */

}
.cabezera{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

.form-search{
    display: flex;
    align-items: center;
  }
 


.title{
    font-size: 1.5rem;
    text-shadow: 
    -1px -1px 0px black, 
    1px 1px 0px black, 
    -1px 1px 0px black,
    1px -1px 0px black, 
    -1px 0px 0px black, 
    1px 0px 0px black, 
    0px 1px 0px black, 
    0px -1px 0px black;

}

main{
    margin-top: 30px;
}

.card-name , .title-modal{
  font-weight: bold;
  text-shadow: 
  -1px -1px 0px black, 
  1px 1px 0px black, 
  -1px 1px 0px black,
  1px -1px 0px black, 
  -1px 0px 0px black, 
  1px 0px 0px black, 
  0px 1px 0px black, 
  0px -1px 0px black;
}

.fases-img, .custom-card{
  width: 300px;
  height: 300px;
}

.section-origin{
  display: flex;
  padding: 10px;
}

.text-origin{
margin-right: 300px;
}

